# Environment variables
.env

# Google OAuth credentials and tokens
credentials.json
token.json

# Python virtual environment
venv/
.env/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd



# OS files
.DS_Store
Thumbs.db

# Logs
*.log